<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/perfect-scrollbar.min.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>供应商结算管理</h3>
                <h5>网站系统供应商结算索引与管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
	<div id="explanation" class="explanation" style=" width: 99%; height: 100%;">
    	<div class="bckopa-tips">
            <div class="title">
                <img src="__PUBLIC__/static/images/handd.png" alt="">
                <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>

            </div>
            <ul>
				<li>供应商订单按时自动结算</li>
			</ul>
        </div>
        <span title="收起提示" id="explanationZoom" style="display: block;"></span>
	</div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>供应商结算列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <a href="" class="refresh-date"><div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></a>
            <form class="navbar-form form-inline" id="search-form" method="get" action="{:U('index')}" onsubmit="return check_form();">
                <input type="hidden" name="create_date" id="create_time" value="{$create_date}">
                <div class="sDiv">
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="start_time" name="start_time" value="{$start_time}" placeholder="起始时间" class="qsbox" autocomplete="off">
                        <input type="button" class="btn" value="起始时间">
                    </div>
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="end_time" name="end_time" value="{$end_time}" placeholder="截止时间" class="qsbox" autocomplete="off">
                        <input type="button" class="btn" value="截止时间">
                    </div>
                    <div class="sDiv2">
                        <input class="btn" value="搜索" type="submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="center" abbr="article_title" axis="col3" class="">
                            <div style="text-align: center; width: 50px;" class="">记录ID</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">开始时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">结束时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">订单商品总供货价</div>
                        </th>
                        <!--<th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">会员支付运费</div>
                        </th>-->
						<th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">供应商支付运费</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 120px;" class="">创建记录日期</div>
                        </th>
						<th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">应结金额</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 150px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="list" id="v">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 50px;">{$v.id}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$v.start_date|date="Y-m-d H:i",###}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$v.end_date|date="Y-m-d H:i",###}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$v.sum_cost_price}</div>
                            </td>
                            <!--<td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$v.sum_shipping_price}</div>
                            </td>-->
							<td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$v.sum_real_postage}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 120px;">{$v.create_date|date="Y-m-d H:i",###}</div>
                            </td>
							<td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$v.statis_totals}</div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                    <a href="{:U('Finance/orderList',array('order_statis_id'=>$v['id']))}" class="btn blue"><i class="fa fa-search"></i>查看订单</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$pager->show()} </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

        $('#start_time').layDate();
        $('#end_time').layDate();
    });

    function check_form(){
        var start_time = $.trim($('#start_time').val());
        var end_time =  $.trim($('#end_time').val());
        if(start_time == '' ^ end_time == ''){
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        return true;
    }
</script>
</body>
</html>