// SCSS 变量
// font color
$mainFontColor: #8F8E94;
$primaryColor: #e93b3d;
$whiteColor: RGBA(255, 255, 255, 1);
$titleTextColor: #404245;
$subtitleTextColor: #55595F;
$descTextColor: #A2A6AD;
$formInputColor: #333333;
$formDescColor: #C3C3C3;
// font size
$fontSize:0.6rem;
$mainFontSize:0.85rem;
$subFontSize:0.7rem;
$h1:0.9rem;
$h2:0.8rem;
$h3:0.75rem;
$h4:0.7rem;
$h5:0.6rem;
$h6:0.5rem;
// display
$inlineLayout: 'inline-block';
$block: 'block';
$flex: 'flex';
// background
$mainbgColor: #F0F2F5;
$cardbgColor: #FFFFFF;
$assetBgColor: #F0F2F5;
$lineColor: #E8EAED;

// SCSS 混合
