<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>供应商管理 - 修改密码</h3>
				<h5>供应商后台登录密码和前台用户登录密码一致</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="suppliersHandle">
        <input type="hidden" name="suppliers_id" value="{$suppliers_id}">
        <div class="ncap-form-default">
			<dl class="row">
				<dt class="tit">
					<label for="old_password"><em>*</em>当前登录密码</label>
				</dt>
				<dd class="opt">
					<input type="password" name="old_password" maxlength="18"  value="" id="old_password" class="input-txt">
					<span class="err" id="err_old_password"></span>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="new_password"><em>*</em>新登录密码</label>
				</dt>
				<dd class="opt">
					<input type="password" name="new_password" maxlength="18"  value="" id="new_password" class="input-txt">
					<span class="err" id="err_new_password"></span>
				</dd>
			</dl>
			<dl class="row">
				<dt class="tit">
					<label for="confirm_password"><em>*</em>确认新登录密码</label>
				</dt>
				<dd class="opt">
					<input type="password" name="confirm_password" maxlength="18"  value="" id="confirm_password" class="input-txt">
					<span class="err" id="err_confirm_password"></span>
				</dd>
			</dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function adsubmit(){
		$('span.err').hide();
		url = "{:U('System/changePassword')}";
		$.ajax({
			type: "POST",
			url: url,
			data: $('#suppliersHandle').serialize(),
			async:false,
			dataType: "json",
			error: function () {
				layer.alert("服务器繁忙, 请联系管理员!");
			},
			success: function (data) {
				if (data.status == 1) {
					layer.msg(data.msg,{icon: 1,time: 2000},function(){
						location.href = "";
					});
				} else {
					$('#submit').attr('disabled',false);
					$.each(data.result, function (index, item) {
						var id = index.replace('[]','');
						$('#err_'+id).text(item).show();
					});
					layer.msg(data.msg, {icon: 2,time: 3000});
				}
			}
		});
	}
</script>
</body>
