<include file="public/layout" />
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>供应商管理</h3>
				<h5>网站系统供应商索引与管理</h5>
			</div>
		</div>
	</div>
	<!-- 操作说明 -->
	<div id="explanation" class="explanation">
        <div class="bckopa-tips">
            <div class="title">
                <img src="__PUBLIC__/static/images/handd.png" alt="">
                <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            </div>
            <ul>
                <li>供应商管理, 由平台设置管理.</li>
            </ul>
        </div>
        <span title="收起提示" id="explanationZoom" style="display: block;"></span>
	</div>
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>供应商列表</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
            <div class="fbutton"> <a href="{:U('Supplier/supplier_info')}"><div class="add" title="添加供应商"><span><i class="fa fa-plus"></i>添加供应商</span></div></a> </div>
			<a href="" class="refresh-date"><div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div></a>
			<form action="" id="search-form2" class="navbar-form form-inline" method="post" action="{:U('Admin/Supplier/index')}">
			  <div class="sDiv">
				<div class="sDiv2">       
				  <select name="is_check" id="is_on_sale" class="select">
					<option value="">全部状态</option>                  
					<option value="1" {$Request.param.is_check == '1' ?= 'selected="selected"'}>正常</option>
					<option value="0" {$Request.param.is_check == '0' ?= 'selected="selected"'}>冻结</option>
				  </select>
					<select name="key_type" class="select">
						<option value="suppliers_name">供应商</option>
						<option value="nickname" {$Request.param.key_type == 'nickname' ?= 'selected="selected"'}>会员</option>
					</select>
				  <input type="text" size="30" name="key_word" class="qsbox" placeholder="搜索词..." value="{$Request.param.key_word}">
				  <input type="submit" class="btn" value="搜索">
				</div>
			  </div>
			</form>
		</div>
		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="left" abbr="article_title" axis="col3" class="">
							<div style="text-align: left; width: 100px;" class="">ID</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">供应商名称</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">供应商描述</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">供应商联系人</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">供应商电话</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 120px;" class="">所属会员账号</div>
						</th>
						<th align="left" abbr="ac_id" axis="col4" class="">
							<div style="text-align: left; width: 100px;" class="">上架商品数</div>
						</th>
						<th align="center" abbr="article_show" axis="col5" class="">
							<div style="text-align: center; width: 80px;" class="">状态</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 150px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0" data-url="{:U('admin/Supplier/del')}">
				<table>
					<tbody>
					<foreach name="list" item="vo" key="k" >
						<tr data-id="{$vo[suppliers_id]}">
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.suppliers_id}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.suppliers_name}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.suppliers_desc}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.suppliers_contacts}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;">{$vo.suppliers_phone}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 120px;">{$vo.mobile ?: $vo.email}</div>
							</td>
							<td align="left" class="">
								<div style="text-align: left; width: 100px;" id="goods-count-{$vo.suppliers_id}">{$vo.count|default='0'}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 80px;">
									<if condition='$vo[is_check] eq 1'>
										<span class="yes" onClick="changeSupplierIsCheck('{$vo.suppliers_id}',this, '正常', '冻结')" ><i class="fa fa-check-circle"></i>正常</span>
										<else />
										<span class="no" onClick="changeSupplierIsCheck('{$vo.suppliers_id}',this, '正常', '冻结')" ><i class="fa fa-ban"></i>冻结</span>
									</if>
								</div>
							</td>
							<td align="center" class="handle">
								<div style="text-align: center; width: 170px; max-width:170px;">
									<a href="{:U('Supplier/supplier_info',array('suppliers_id'=>$vo['suppliers_id']))}" class="btn blue">编辑</a>
									<a class="btn red" href="javascript:void(0)" data-id="{$vo.suppliers_id}" onClick="delfun(this)">删除</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
		{$pager->show()} </div>
</div>
<script>
	$(document).ready(function(){
        //单选全选
        $('.ico-check ' , '.hDivBox').click(function(){
            $('tr' ,'.hDivBox').toggleClass('trSelected' , function(index,currentclass){
                var hasClass = $(this).hasClass('trSelected');
                $('tr' , '#flexigrid').each(function(){
                    if(hasClass){
                        $(this).addClass('trSelected');
                    }else{
                        $(this).removeClass('trSelected');
                    }
                });
            });
        });
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

	});


	function delfun(obj) {
		// 删除按钮
		layer.confirm('确认删除？', {
			btn: ['确定', '取消'] //按钮
		}, function () {
			$.ajax({
				type: 'post',
				url: "{:U('Supplier/del')}",
				data : {id:$(obj).attr('data-id')},
				dataType: 'json',
				success: function (data) {
					layer.closeAll();
					if (data.status == 1) {
						$(obj).parent().parent().parent().remove();
						layer.msg(data.msg, {icon: 1});
					} else {
						layer.alert(data.msg, {icon: 2});
					}
				}
			})
		}, function () {
			layer.closeAll();
		});
	}
	
	// 改变供应商的is_check状态
	function changeSupplierIsCheck(id,obj,yes,no) {
		var value = $(obj).val();
		if(yes == '' || typeof(yes)== 'undefined')yes='是';
		if(no == '' || typeof(no) == 'undefined')no='否';

		$.ajax({
			url: "{:U('Admin/Supplier/changeSupplierIsCheck')}?suppliers_id=" + id,
			dataType: 'json',
			success: function (data) {
				if (data.status == 1) {
					if ($(obj).hasClass('no')) // 图片点击是否操作
					{
						//src = '/public/images/yes.png';
						$(obj).removeClass('no').addClass('yes');
						$(obj).html("<i class='fa fa-check-circle'></i>"+yes+"");
						value = 1;
					} else if ($(obj).hasClass('yes')) { // 图片点击是否操作
						$(obj).removeClass('yes').addClass('no');
						$(obj).html("<i class='fa fa-ban'></i>"+no+"");
						value = 0;
					}
					layer.msg('更新成功', {icon: 1});
					$('#goods-count-' + data.result.suppliers_id).text(data.result.goods_count);
				}
			}
		});
	}
</script>
</body>