<include file="public/layout"/>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>公众号设置</h3>
                <h5>公众号授权</h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="{:U('wechat/third_authorization')}" class="current">
                    <span>公众号授权</span></a>
                </li> 
                <li><a href="{:U('wechat/getWx3rdOpen')}">
                    <span>我的开放平台</span></a>
                </li>             
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation">
        <div class="bckopa-tips">
            <div class="title">
                <img src="__PUBLIC__/static/images/handd.png" alt="">
                <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            </div>
            <ul>
              <li style="color:red;">请注意：</li>
              <li style="color:red;">公众号授权相关权限给第三方平台后，第三方平台代公众号使用接口完成相关业务功能</li>
              <li style="color:red;">根据自身业务选择相关权限授权</li>
            </ul>
        </div>
        <span title="收起提示" id="explanationZoom" style="display: block;"></span>
    </div>
    <div class="authorization_before">
        <if condition="$public['is_auth'] == 1">
            <span class="autbe_tips">你已成功授权绑定"{$public['nick_name']|default='测试'}"公众号。</span>
            <div class="autbe_btn" style="margin-top: 20px;">
                <a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="unbind_public()">解绑公众号</a>
            </div>
        <else/>
            <span class="autbe_tips">公众号尚未授权，授权后可避免复杂的设置，并能更安全、更便捷地使用我们的系统</span>
            <img src="__PUBLIC__/static/images/wechatpay.png">
            <b>微信公众号授权</b>
            <div class="autbe_btn">
                <a href="http://{$saas['saas_domain']}/client/wechatPublic/auth/user_id/{$app_service['user_id']}/service_id/{$app_service['service_id']}" class="ncap-btn-big ncap-btn-green" target="_blank">已有公众号，立即授权</a>
                <a href="https://mp.weixin.qq.com" class="ncap-btn-big" target="_blank">注册公众号账号</a>
            </div>
        </if>
    </div>
 </div>
<script>
    function addMiniapp() {
        $.ajax({
            url:"{:U('miniapp/auth_url')}",
            dataType: 'json',
            success: function(data){
                if (data.status === 1) {
                    top.location.href = data.result;
                    //window.open(data.result);
                } else {
                    var msg = (typeof data.status === 'undefined') ? '系统繁忙，请联系客服' : data.msg;
                    return layer.alert(msg, {icon:2});
                }
            }
        });
    }
    function unbind_public(){
        layer.confirm('确定解绑公众号？', {icon: 3, title:'提示'}, function (index) {
            layer.close(index);
            $.ajax({
                url: "{:U('AppService/unbindPublic')}",
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    if (data.status === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1}, function () {
                            window.location.reload(true);
                        });
                    } else {
                        var msg = (typeof data.status === 'undefined') ? '系统繁忙，请联系客服' : data.msg;
                        return layer.alert(msg, {icon: 2});
                    }
                },
                error: function () {
                    layer.alert('系统繁忙，请联系客服', {icon: 2});
                }
            });
        });
    }
</script>
</body>
</html>