// SCSS 变量
// font color
$mainFontColor: #8f8e94;
$mainColor: #e9533e;
$diasbleColor: #cccccc;
$whiteColor: RGBA(255, 255, 255, 1);
$titleTextColor: #404245;
$subtitleTextColor: #55595f;
$descTextColor: #a2a6ad;
$formInputColor: #333333;
$formDescColor: #c3c3c3;
// font size
$fontSize: 0.6rem;
$mainFontSize: 0.85rem;
$subFontSize: 0.7rem;
$h1: 0.9rem;
$h2: 0.8rem;
$h3: 0.75rem;
$h4: 0.7rem;
$h5: 0.6rem;
$h6: 0.5rem;
// display
$inlineLayout: 'inline-block';
$block: 'block';
$flex: 'flex';
// background
$mainbgColor: #f0f2f5;
$cardbgColor: #ffffff;
$assetBgColor: #f0f2f5;
$lineColor: #e8eaed;

// SCSS 混合
